body {
	margin: 0px;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 18px;
	color: #59c;
	background: #000;
}
canvas {
	width: 100%;
	height: 100%;
}
.page {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.header {
	margin: 20px;
	font-weight: bold;
	font-size: 24px;
}
.explanation {
	margin: 20px;
	color: #aaa;
	font-size: 18px;
}
a { font-weight: bold; }
a:link {    color: #36a; }
a:visited { color: #36a; }
a:hover {   color: #59c; }
a:active {  color: #59c; }
.box {
	border: 2px solid #aaa;
	padding: 10px;
	margin: 20px;
	border-top-left-radius:     10px;
	border-top-right-radius:    10px;
	border-bottom-left-radius:  10px;
	border-bottom-right-radius: 10px;
	background: #124;
}
.halfbox {
	vertical-align: top;
	display: inline-block;
	border: 2px solid #aaa;
	padding: 10px;
	background: #124;
	position: relative;
}
.halfbox.left {
	margin: 20px 0px 20px 20px;
	border-top-left-radius:     10px;
	border-bottom-left-radius:  10px;
}
.halfbox.right {
	border-left-style: none;
	margin: 20px 20px 20px 0px;
	border-top-right-radius:    10px;
	border-bottom-right-radius: 10px;
}
.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}
.boxheader {
	margin-bottom: 10px;
	font-weight: bold;
	color: #36a;
	font-size: 20px;
}
.description {
	font-size: 12px;
}
hr {
	height: 2px;
	background: #aaa;
	border: none;
}
table {
	border-spacing: 0px;
	border-collapse: separate;
}
tr {
	vertical-align: top;
}
td {
	padding-right: 8px;
}
.radioinput {
	margin-left: 20px;
}
input {
	cursor: pointer;
}
label {
	cursor: pointer;
}
.listNode {
	margin: 2px;
	margin-top: 10px;
	border: 1px solid #999;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #fff;
}
.listEntry {
	width: 179px;
	height: 48px;
	overflow: hidden;
}
.listEntryBox {
	position: relative;
	vertical-align: top;
	height: 46px;
	display: inline-block;
	border: 1px solid #999;
	background: linear-gradient( #eee, #ddd );
}
.listEntryEdit {
	border: 0px solid #000;
	background: none;
	margin-left: 4px;
	width: 137px;
	color: #444;
	font-size: 12px;
	font-weight: bold;
}
.listEntryEdit:focus {
	background: #fff;
}
.listEntryText {
	position: absolute;
	top: 26px;
	left: 4px;
	color: #444;
	font-size: 12px;
}
.listEntryButton {
	position: absolute;
	top: 24px;
	cursor: pointer;
}
.viewNode {
	position: absolute;
	background: #000;
	border: 1px solid #666;
}
.dialogNode {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.dialogOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
}
.dialogBox {
	position: absolute;
	top: 0px;
	width: 500px;
}

